# Build directories
build/
bin/
lib/
*.exe
*.obj
*.pdb
*.ilk
*.suo
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Logs
*.log
build_log*.txt
build_output*.txt
